@charset "UTF-8";

// File for keeping depricated material around.
// This file is not imported via helix.scss.

/////////////////////////////////////
// Depricated since beta
/////////////////////////////////////

// REPLACED because it's hacky.
@mixin hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}
