@charset "UTF-8";

///
// Custom Media Queries
///

@mixin above( $min ) {
    @media only screen and (min-width: $min) { @content; }
}
@mixin below( $max ) {
    @media only screen and (max-width: $max) { @content; }
}
@mixin between( $min, $max ) {
    @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

///
// Shorthand Queries
///

@mixin sm { @include below($md_begin - 1) { @content; } }
@mixin md { @include between($md_begin, $lg_begin - 1) { @content; } }
@mixin lg { @include above($lg_begin) { @content; } }

@mixin sm-md { @include below($lg_begin - 1) { @content; } }
@mixin md-lg { @include above($md_begin) { @content; } }

///
// Retina Queries
// Default value set to 1.3 to target Google Nexus 7 (bjango.com/articles/min-device-pixel-ratio/)
///

@mixin retina( $ratio:1.3 ) {
    @media only screen and ( -webkit-min-device-pixel-ratio: $ratio ),
           only screen and (    min--moz-device-pixel-ratio: $ratio ),
           only screen and (      -o-min-device-pixel-ratio: #{$ratio}/1 ),
           only screen and ( min-resolution: round($ratio * 96dpi) ),
           only screen and ( min-resolution: $ratio * 1dppx ) {
               @content;
           }
}

@mixin retina-bg( $url, $width, $height ) {
    @include retina {
        background-image: url($url);
        background-size: $width $height;
    }
}

///
// Widths
// Helps you create widths faster.
//
// @params  $lg, $md, $sm  The width in percent (e.g. 50%) for each respective breakpoint.
///

@mixin widths( $lg, $md:100%, $sm:100% ) {
    width: $sm;
    @include md-lg { width: $md; }
    @include lg { width: $lg; }
}

///
// Justify Single Line
// Because a simple text-align: justify; won't justify one-liners. This mixin does.
///

@mixin justify-line( $clearfix:true ) {
    text-align: justify;
    text-justify: distribute-all-lines;
    @if $clearfix {
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
}

///
// Background Clip – Just here for reference.
// Helps with leaking background-colors and images when using border-radius;
///

@mixin background-clip {
    background-clip: padding-box;
}

///
// Text Shadow
// Quickly set a simple black or white text-shadow.
///

@mixin dark-text-shadow( $alpha: 0.25, $x_y_blur: 1px 1px 1px ) {
    text-shadow: $x_y_blur rgba(0, 0, 0, $alpha);
}

@mixin light-text-shadow( $alpha: 0.25, $x_y_blur: 1px 1px 1px ) {
    text-shadow: $x_y_blur rgba(255, 255, 255, $alpha);
}

///
// List reset
///

@mixin list-reset {
    list-style: none;
    padding-left: 0;
}

@mixin list-reset-deep {
    &, & ul, & ol, {
        list-style: none;
        padding-left: 0;
    }
}

///
// Center
///

@mixin center( $width:null ) {
    display: block;
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    @if null != $width {
        width: $width;
    }
}

@mixin uncenter( $width:false ) {
    display: unset;
    float: unset;
    clear: unset;
    margin-left: unset;
    margin-right: unset;
    @if true == $width {
        width: unset;
    }
}

///
// Center Absolute
// This needs to be within a non static positioned parent.
///

@mixin center-absolute( $x:50%, $y:50% ) {
    $x_flipped: $x;
    $y_flipped: $y;

    @if $x > 0 { $x_flipped: -$x; }
    @if $y > 0 { $y_flipped: -$y; }

    position: absolute;
    left: $x; top: $y;
    transform: translate( $x_flipped, $y_flipped );
}

///
// Cover Screen
///

@mixin cover-screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}

///
// Striped Table
// table { @include table-striped(#eee); }
///

@mixin table-striped( $stripe_color ) {
    tbody tr:nth-of-type(odd){
        background-color: $stripe_color;
    }
}

///
// Hide
// Hides an element but keeps it focusable. Good for hidding form elements like checkboxes, etc.
// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// @link https://css-tricks.com/almanac/properties/c/clip/
// @notes:
// - inset-rectangle() may replace inset()
// - rectangle() coming in SVG 2
///

@mixin hide {
    position: absolute !important; // required by clip
    overflow: hidden;
    height: 1px; width: 1px;
    clip: rect(1px, 1px, 1px, 1px); // depricated
    // chrome 24+, safari 8+, opera 15+
    -webkit-clip-path: inset(1px 1px 1px 1px);
            clip-path: inset(1px 1px 1px 1px);
}

///
// Hide Text - Good for image replacement.
///

@mixin hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

///
// Truncate
// Prevents a string of text from breaking into the 2nd line and adds an ellipsis to the end.
///

@mixin truncate( $width:100% ) {
    max-width: 100%;
    width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// alias
@mixin ellipsis( $width:100% ) {
    @include truncate( $width );
}

///
// Creates specific vendor prefixes.
///

// Do NOT edit these global variables!
$is_webkit_included: true;
$is_mozilla_included: true;
$is_microsoft_included: true;
$is_opera_included: true;
$is_spec_included: true;

@mixin disable-all-vendors {
    $is_webkit_included: false !global;
    $is_mozilla_included: false !global;
    $is_microsoft_included: false !global;
    $is_opera_included: false !global;
    $is_spec_included: false !global;
}

@mixin enable-all-vendors {
    $is_webkit_included: true !global;
    $is_mozilla_included: true !global;
    $is_microsoft_included: true !global;
    $is_opera_included: true !global;
    $is_spec_included: true !global;
}

@mixin prefixer( $property, $value, $prefixes:null ) {

    @if null == $prefixes { $prefixes: webkit moz ms o spec; }

    @each $p in $prefixes {
        @if webkit == $p {
            @if $is_webkit_included { -webkit-#{$property}: $value; }
        } @else if moz == $p {
            @if $is_mozilla_included { -moz-#{$property}: $value; }
        } @else if ms == $p {
            @if $is_microsoft_included { -ms-#{$property}: $value; }
        } @else if o == $p {
            @if $is_opera_included { -o-#{$property}: $value; }
        } @else if spec == $p {
            @if $is_spec_included { #{$property}: $value; }
        } @else {
            @warn "Unrecognized prefix: #{$p}";
        }
    }
}
