
///
// Custom Media Queries
///

@mixin above( $min ) {
    @media only screen and (min-width: $min) { @content; }
}
@mixin below( $max ) {
    @media only screen and (max-width: $max) { @content; }
}
@mixin between( $min, $max ) {
    @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

///
// Shorthand Queries
///

@mixin sm { @include below($md_begin - 1) { @content; } }
@mixin md { @include between($md_begin, $lg_begin - 1) { @content; } }
@mixin lg { @include above($lg_begin) { @content; } }

@mixin sm-md { @include below($lg_begin - 1) { @content; } }
@mixin md-lg { @include above($md_begin) { @content; } }

///
// Retina Queries
///

@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi), (min-resolution: 1.3dppx) {
        @content;
    }
}

@mixin retina-bg( $url, $width, $height ) {
    @include retina {
        background-image: url($url);
        background-size: $width $height;
    }
}

///
// Create vendor-prefixed CSS in one go.
// Source: github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss#L49
///

@mixin vendor( $property, $value... ) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

///
// Keyframe
//
// .elem {
//     @include vendor( animation, 1s shrink );
// }
// @include keyframes( shrink ) {
//     0% {}
//     50% {}
//     100% {}
// }
///

@mixin keyframes( $animation_name ) {
    @-webkit-keyframes #{$animation_name} { @content; }
       @-moz-keyframes #{$animation_name} { @content; }
         @-o-keyframes #{$animation_name} { @content; }
            @keyframes #{$animation_name} { @content; }
}

///
// Linear Gradient
//
// Usage example:
// @include linear-gradient( to bottom, red 33%, green 66%, blue );
///

@mixin linear-gradient( $direction, $color-stops... ) {
    background-color: nth( nth($color-stops, 1), 1); // fallback, gets only the very first value
    background-image: -webkit-linear-gradient(legacy-direction($direction),$color-stops...); // Chrome 25, Safari 6, iOS 6.1, Android 4.3
    background-image:    -moz-linear-gradient(legacy-direction($direction),$color-stops...); // Firefox 3.6 to 15
    background-image:      -o-linear-gradient(legacy-direction($direction),$color-stops...); // Opera 11.1 to 12.0
    // IE 10+, Chrome 26+, Safari 6.1+, iOS 7+, Android 4.4+, Firefox 16+, Opera 12.1+
    background-image:         linear-gradient( $direction, $color-stops... );
}

///
// Radial Gradient
//
// Usage example:
// @include radial-gradient( red 33%, green 66%, blue );
///

@mixin radial-gradient( $color-stops... ) {
    background-color: nth( nth($color-stops, 1), 1); // fallback, gets only the very first value
    background-image: -webkit-radial-gradient(center,ellipse cover,$color-stops...); // Chrome 25, Safari 6, iOS 6.1, Android 4.3
    background-image:    -moz-radial-gradient(center,ellipse cover,$color-stops...); // Firefox 3.6 to 15
    background-image:      -o-radial-gradient(center,ellipse cover,$color-stops...); // Opera 11.1 to 12.0
    // IE 10+, Chrome 26+, Safari 6.1+, iOS 7+, Android 4.4+, Firefox 16+, Opera 12.1+
    background-image:         radial-gradient(ellipse at center,$color-stops...);
}

///
// Placeholder Styling
///

@mixin placeholder-styles {
    &::-webkit-input-placeholder { @content; } // Safari and Chrome
         &:-ms-input-placeholder { @content; } // Internet Explorer 10+
             &::-moz-placeholder { @content; opacity: 1; } // Firefox 19+
}

///
// Selection Styling
///

@mixin selection-styles {
    &::-moz-selection { @content; } // firefox
         &::selection { @content; } // webkit, opera, IE9
}

///
// Border Radius
///

@mixin border-radius( $radius:0 ) {
    @if 0 != $radius {
        background-clip: padding-box;
        border-radius: $radius;
    }
}

///
// List reset
///

@mixin list-reset {
    list-style: none;
    padding-left: 0;
}

@mixin list-reset-deep {
    &, & ul, & ol, {
        list-style: none;
        padding-left: 0;
    }
}

///
// Centering
// This needs to be within a non static positioned parent.
///

@mixin center-absolute( $x:50%, $y:50% ) {
    $x_flipped: $x;
    $y_flipped: $y;

    @if $x > 0 { $x_flipped: -$x; }
    @if $y > 0 { $y_flipped: -$y; }

    position: absolute;
    left: $x; top: $y;
    transform: translate( $x_flipped, $y_flipped );
}

///
// Cover Screen
///

@mixin cover-screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}

///
// Striped Table
// table { @include table-striped(#eee); }
///

@mixin table-striped( $stripe_color ) {
    tbody tr:nth-of-type(odd){
        background-color: $stripe_color;
    }
}

///
// Image replacement
///

@mixin image-replacement {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

// alias
@mixin ir {
    @include image-replacement;
}

///
// Hide
// Hides an element but keeps it focusable. Good for hidding form elements like checkboxes, etc.
// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// @link https://css-tricks.com/almanac/properties/c/clip/
// @notes:
// - inset-rectangle() may replace inset()
// - rectangle() coming in SVG 2
///

@mixin hide {
    position: absolute !important; // required by clip
    overflow: hidden;
    height: 1px; width: 1px;
    clip: rect(1px, 1px, 1px, 1px); // depricated
    // chrome 24+, safari 8+, opera 15+
    -webkit-clip-path: inset(1px 1px 1px 1px);
            clip-path: inset(1px 1px 1px 1px);
}

///
// Truncate
// Prevents a string of text from breaking into the 2nd line and adds an ellipsis to the end.
///

@mixin truncate( $width:100% ) {
    max-width: 100%;
    width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// alias
@mixin ellipsis( $width:100% ) {
    @include truncate( $width );
}

///
// Word Break
// Forces words to break into the 2nd line.
///

@mixin break-words {
    word-wrap: break-word; // fallback & alias to...
    overflow-wrap: break-word; // newest CSS3
}

///
// Font Smoothing
///

@mixin font-smoothing( $active:true ) {
    @if $active {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: auto;
    }
}
