@charset "UTF-8";

/*
Clearfixed elements
Source: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
*/

%cf,
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@if $css_layout_clearfix {

    .cf, .clearfix {
        @extend %clearfix;
    }

} // endif
