@charset "UTF-8";

/*
Grid

<div class="grid">
    <div class="grid__item"> </div>
    <div class="grid__item"> </div>
    <div class="grid__item grid__item--flush">

        <div class="grid">
            <div class="grid__item"> </div>
            <div class="grid__item"> </div>
            <div class="grid__item float-right"> </div>
        </div>

    </div>
</div>
*/

%grid {
    display: table;
    font-size: 0 !important;
    letter-spacing: 0 !important;
    vertical-align: top;
    width: 100%;
    max-width: $grid_max_width;
    margin-left: auto;
    margin-right: auto;
    %grid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

// Grid Width

%grid--full {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

// Grid Fill Mode

%grid--fill > %grid__item {
    display: table-cell;
}

%grid--fill-equal {
    table-layout: fixed;
}

// Grid Horizontal Alignment

%grid--center {
    text-align: center;
}

%grid--justify {
    display: block;
    text-align: justify;
    text-justify: distribute-all-lines;
    // clearfix is needed for this modifier
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Grid Vertical Alignment

%grid--top > %grid__item { vertical-align: top; }
%grid--middle > %grid__item { vertical-align: middle; }
%grid--bottom > %grid__item { vertical-align: bottom; }

// Grid Padding

%grid--flush > %grid__item { padding: 0; }

// Grid Items

%grid__item {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    display: inline-block;
    vertical-align: top;
    font-size: medium; // lte ie8 rem fallback
    font-size: $font_size_text;
    letter-spacing: $letter_spacing_text;
    padding: $grid_item_padding;
}

// Grid Item Padding

%grid > %grid__item--flush { padding: 0; }


@if $css_objects_grid {

    // grid

    .grid { @extend %grid; }

    .grid--full { @extend %grid--full; }

    .grid--fill { @extend %grid--fill; }
    .grid--fill-equal { @extend %grid--fill-equal; }

    .grid--center { @extend %grid--center; }

    .grid--justify { @extend %grid--justify; }

    .grid--top { @extend %grid--top; }
    .grid--middle { @extend %grid--middle; }
    .grid--bottom { @extend %grid--bottom; }

    .grid--flush { @extend %grid--flush; }

    // grid__item

    .grid__item { @extend %grid__item; }

    .grid__item--flush { @extend %grid__item--flush; }

    // grid__item width

    @for $i from 1 through $grid_columns_count {
        .grid__item--#{$i} { width: (100% / $i); }
    }
    
    @include md {
        @for $i from 1 through $grid_columns_count {
            .grid__item--#{$i}-md { width: (100% / $i); }
        }
    }

    @include md-lg {
        @for $i from 1 through $grid_columns_count {
            .grid__item--#{$i}-md-lg { width: (100% / $i); }
        }
    }

    @include lg {
        @for $i from 1 through $grid_columns_count {
            .grid__item--#{$i}-lg { width: (100% / $i); }
        }
    }

} // endif
