@charset "UTF-8";

@if $export_border {

/*
Border
*/

.ba1, .ba2, .ba3,
.bt1, .bt2, .bt3,
.br1, .br2, .br3,
.bb1, .bb2, .bb3,
.bl1, .bl2, .bl3 {
    border-style: solid;
    border-color: $color_border;
}

.ba1 { border-width: 1px; }
.bt1 { border-top-width: 1px; }
.br1 { border-right-width: 1px; }
.bb1 { border-bottom-width: 1px; }
.bl1 { border-left-width: 1px; }

.ba2 { border-width: 2px; }
.bt2 { border-top-width: 2px; }
.br2 { border-right-width: 2px; }
.bb2 { border-bottom-width: 2px; }
.bl2 { border-left-width: 2px; }

.ba3 { border-width: 3px; }
.bt3 { border-top-width: 3px; }
.br3 { border-right-width: 3px; }
.bb3 { border-bottom-width: 3px; }
.bl3 { border-left-width: 3px; }

.ba0 { border-width: 0; }
.bt0 { border-top-width: 0; }
.br0 { border-right-width: 0; }
.bb0 { border-bottom-width: 0; }
.bl0 { border-left-width: 0; }

/*
Radius
*/

.round { border-radius: 50%; }

.rounded        { border-radius: $br; }
.rounded-top    { border-radius: $br $br 0 0; }
.rounded-right  { border-radius: 0 $br $br 0; }
.rounded-bottom { border-radius: 0 0 $br $br; }
.rounded-left   { border-radius: $br 0 0 $br; }

.sharp { border-radius: 0; }

} // endif
