@charset "UTF-8";

/*
Button
*/

%button {
    display: inline-block;
    line-height: 1;
    height: auto;
    max-width: 100%;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font_family_button;
    font-size: $font_size_button;
    font-weight: $font_weight_button;
    font-style: $font_style_button;
    text-transform: $text_transform_button;
    letter-spacing: $letter_spacing_button;
    padding: $padding_button_top $padding_button_right $padding_button_bottom $padding_button_left;
    border-style: solid;
    border-width: $border_width_button;
    border-radius: $border_radius_button;
    color: $color_button;
    border-color: $color_button_border;
    background-color: $color_button_bg;
    &:hover {
        color: $color_button_hover;
        border-color: $color_button_border_hover;
        background-color: $color_button_bg_hover;
        text-decoration: none;
    }
    @include user-select(none);
    -webkit-user-drag: none;
    // prevent button from line breaking
    white-space: nowrap;
}

%button--clear {
    &, &:hover {
        background-color: transparent;
        border-color: transparent;
    }
}

%button--pill {
    border-radius: $font_size_button + $padding_button_top + $padding_button_bottom;
}

%button--input {
    vertical-align: top;
    line-height: $line_height_ratio_input * $font_size_input;
    @if $responsive_typography {
        @include md { line-height: $line_height_ratio_input_md * $font_size_input; }
        @include lg { line-height: $line_height_ratio_input_lg * $font_size_input; }
    }
    padding: $padding_input_top $padding_input_right $padding_input_bottom $padding_input_left;
}

@if $export_button {

.button,
.btn {
    @extend %button;
}

.button--clear,
.btn--clear {
    @extend %button--clear;
}

.button--pill,
.btn--pill {
    @extend %button--pill;
}

.button--input,
.btn--input {
    @extend %button--input;
}

} // endif
