@charset "UTF-8";

/*
Button
*/

%button {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    height: auto;
    max-width: 100%;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font_family_button;
    font-size: $font_size_button;
    font-weight: $font_weight_button;
    font-style: $font_style_button;
    text-transform: $text_transform_button;
    letter-spacing: $letter_spacing_button;
    padding: $padding_button_top $padding_button_right $padding_button_bottom $padding_button_left;
    transition: $transition_button;
    border-style: solid;
    border-width: $border_width_button;
    border-radius: $border_radius_button;
    color: $color_button;
    border-color: $color_button_border;
    background-color: $color_button_bg;
    &:hover {
        color: $color_button_hover;
        border-color: $color_button_border_hover;
        background-color: $color_button_bg_hover;
        text-decoration: none;
    }
    @include appearance(none);
    @include user-select(none);
    -webkit-user-drag: none;
    // prevent button from line breaking
    white-space: nowrap;
}

@if $export_button {

button,
[type=button],
[type=submit],
[type=reset],
.button,
.btn {
    @extend %button;
}

} // endif
