@charset "UTF-8";

@if $export_color {

/*
Colors
*/

.white { color: #fff; }
.bg-white { background-color: #fff; }

.gray { color: $gray; }
.bg-gray { background-color: $gray; }

.accent { color: $accent; }
.bg-accent { background-color: $accent; }

.bg-transparent { background-color: transparent; }

.text-primary { color: $text_primary; }
.text-muted { color: $text_muted; }
.text-inverted { color: $text_inverted; }

} // endif
