@charset "UTF-8";

@if $export_display {

/*
Overflow
*/

.overflow-hidden {
    overflow: hidden;
}

/*
Display
*/

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

/*
Visibility
*/

.hide { display: none; }
// .show { display: inherit; }

@include md {
    .hide-md { display: none; }
    // .show-md { display: inherit; }
}
@include md-lg {
    .hide-md-lg { display: none; }
    // .show-md-lg { display: inherit; }
}
@include lg {
    .hide-lg { display: none; }
    // .show-lg { display: inherit; }
}

/*
Retina
*/

.hide-on-retina {
    display: inherit;
    @include retina {
        display: none;
    }
}
.retina-only {
    display: none;
    @include retina {
        display: inherit;
    }
}

} // endif
