@charset "UTF-8";

/*
Lead
*/

%lead {
    font-size: $font_size_lead;
    font-weight: $font_weight_lead;
    color: $color_heading;
    letter-spacing: $letter_spacing_lead;
    line-height: $line_height_ratio_lead;
    @if $responsive_typography {
        @include md { line-height: $line_height_ratio_lead_md; }
        @include lg { line-height: $line_height_ratio_lead_lg; }
    }
}

@if $export_lead {

    .lead { @extend %lead; }

}
