@charset "UTF-8";

@if $export_whitespace {

/*
Vertical Rhythm
*/

.vr1 { margin-bottom: $vr / 2; }
.vr2 { margin-bottom: $vr; }
.vr3 { margin-bottom: $vr * 1.5; }
.vr0 { margin-bottom: 0; }

/*
Margin
*/

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
// see _alignment.scss for .mx-auto

.ma1 { margin: $space1; }
.mx1 { margin-left: $space1; margin-right: $space1; }
.my1 { margin-top: $space1; margin-bottom: $space1; }
.mt1 { margin-top: $space1; }
.mr1 { margin-right: $space1; }
.mb1 { margin-bottom: $space1; }
.ml1 { margin-left: $space1; }

.ma2 { margin: $space2; }
.mx2 { margin-left: $space2; margin-right: $space2; }
.my2 { margin-top: $space2; margin-bottom: $space2; }
.mt2 { margin-top: $space2; }
.mr2 { margin-right: $space2; }
.mb2 { margin-bottom: $space2; }
.ml2 { margin-left: $space2; }

.ma3 { margin: $space3; }
.mx3 { margin-left: $space3; margin-right: $space3; }
.my3 { margin-top: $space3; margin-bottom: $space3; }
.mt3 { margin-top: $space3; }
.mr3 { margin-right: $space3; }
.mb3 { margin-bottom: $space3; }
.ml3 { margin-left: $space3; }

.ma0 { margin: 0; }
.mx0 { margin-left: 0; margin-right: 0; }
.my0 { margin-top: 0; margin-bottom: 0; }
.mt0 { margin: 0; }
.mr0 { margin: 0; }
.mb0 { margin: 0; }
.ml0 { margin: 0; }

/*
Padding
*/

.pa1 { padding: $space1; }
.px1 { padding-left: $space1; padding-right: $space1; }
.py1 { padding-top: $space1; padding-bottom: $space1; }
.pt1 { padding-top: $space1; }
.pr1 { padding-right: $space1; }
.pb1 { padding-bottom: $space1; }
.pl1 { padding-left: $space1; }

.pa2 { padding: $space2; }
.px2 { padding-left: $space2; padding-right: $space2; }
.py2 { padding-top: $space2; padding-bottom: $space2; }
.pt2 { padding-top: $space2; }
.pr2 { padding-right: $space2; }
.pb2 { padding-bottom: $space2; }
.pl2 { padding-left: $space2; }

.pa3 { padding: $space3; }
.px3 { padding-left: $space3; padding-right: $space3; }
.py3 { padding-top: $space3; padding-bottom: $space3; }
.pt3 { padding-top: $space3; }
.pr3 { padding-right: $space3; }
.pb3 { padding-bottom: $space3; }
.pl3 { padding-left: $space3; }

.pa0 { padding: 0; }
.px0 { padding-left: 0; padding-right: 0; }
.py0 { padding-top: 0; padding-bottom: 0; }
.pt0 { padding: 0; }
.pr0 { padding: 0; }
.pb0 { padding: 0; }
.pl0 { padding: 0; }

} // endif
