@charset "UTF-8";

/////////////////////////////////////
// Colors
/////////////////////////////////////

// Abstracts

$accent: #1f8bfc !default;
$dark: #202020 !default;
$gray: #dadada !default;

// Elements

$color_main_bg: #fff !default;

$color_text:            $dark !default;
$color_text_link:       $accent !default;
$color_text_link_hover: $accent !default;

$color_heading:            $dark !default;
$color_heading_link:       $dark !default;
$color_heading_link_hover: $dark !default;

$color_button:              #fff !default;
$color_button_hover:        #fff !default;
$color_button_bg:           $accent !default;
$color_button_bg_hover:     $accent !default;
$color_button_border:       transparent !default;
$color_button_border_hover: transparent !default;

$color_input_label:        $dark !default;
$color_input:              $dark !default;
$color_input_hover:        $dark !default;
$color_input_focus:        $dark !default;
$color_input_bg:           #fff !default;
$color_input_bg_hover:     #fff !default;
$color_input_bg_focus:     #fff !default;
$color_input_border:       $gray !default;
$color_input_border_hover: $gray !default;
$color_input_border_focus: $gray !default;
$color_input_placeholder:  #555 !default;

$color_table_head:   $dark !default;
$color_table_cell:   $dark !default;
$color_table_border: $gray !default;

$color_hr: $gray !default;
