@charset "UTF-8";

/////////////////////////////////////
// Base
/////////////////////////////////////

// Abstracts

$export_base: true !default;

// Elements

$export_normalize: $export_base !default;
$export_document:  $export_base !default;
$export_code:      $export_base !default;
$export_form:      $export_base !default;
$export_reset:     $export_base !default;
$export_table:     $export_base !default;


/////////////////////////////////////
// Objects
/////////////////////////////////////

// Abstracts

$export_objects:   true !default;
$export_utilities: true !default;

// Elements

$export_button:     $export_objects !default;
$export_embed:      $export_objects !default;
$export_flag:       $export_objects !default;
$export_grid:       $export_objects !default;
$export_lead:       $export_objects !default;
$export_scrollable: $export_objects !default;

$export_alignment:  $export_utilities !default;
$export_border:     $export_utilities !default;
$export_color:      $export_utilities !default;
$export_display:    $export_utilities !default;
$export_height:     $export_utilities !default;
$export_list:       $export_utilities !default;
$export_position:   $export_utilities !default;
$export_typography: $export_utilities !default;
$export_whitespace: $export_utilities !default;
$export_width:      $export_utilities !default;

/////////////////////////////////////
// Depricated
/////////////////////////////////////

$export_depricated: false !default;
