
///
// Linear Gradient
//
// Usage example:
// @include linear-gradient( to bottom, red 33%, green 66%, blue );
///

@mixin linear-gradient( $direction, $color-stops... ) {
    background-color: nth( nth($color-stops, 1), 1); // fallback, gets only the very first value
    background-image: -webkit-linear-gradient(legacy-direction($direction),$color-stops...); // Chrome 25, Safari 6, iOS 6.1, Android 4.3
    background-image:    -moz-linear-gradient(legacy-direction($direction),$color-stops...); // Firefox 3.6 to 15
    background-image:      -o-linear-gradient(legacy-direction($direction),$color-stops...); // Opera 11.1 to 12.0
    // IE 10+, Chrome 26+, Safari 6.1+, iOS 7+, Android 4.4+, Firefox 16+, Opera 12.1+
    background-image:         linear-gradient( $direction, $color-stops... );
}
