@charset "UTF-8";

@if $export_alignment {

/*
Float
*/

.left { float: left; }
.right { float: right; }
.center { float: none; margin-left: auto; margin-right: auto; }

@include md {
    .left-m { float: left; }
    .right-m { float: right; }
    .center-m { float: none; margin-left: auto; margin-right: auto; }
}
@include md-lg {
    .left-ml { float: left; }
    .right-ml { float: right; }
    .center-ml { float: none; margin-left: auto; margin-right: auto; }
}
@include lg {
    .left-l { float: left; }
    .right-l { float: right; }
    .center-l { float: none; margin-left: auto; margin-right: auto; }
}

/**
 * Clear
 */

// .clear-both { clear: both; }

/**
 * Text Align
 */

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
// .text-justify { text-align: justify; }
// .justify-line { @include justify-line; }
.vertical-top { vertical-align: top; }
.vertical-bottom { vertical-align: bottom; }
.vertical-middle { vertical-align: middle; }
// .vertical-baseline { vertical-align: baseline; }

@include md {
    .text-left-m { text-align: left; }
    .text-right-m { text-align: right; }
    .text-center-m { text-align: center; }
    // .text-justify-m { text-align: justify; }
    // .justify-line-m { @include justify-line; }
    .vertical-top-m { vertical-align: top; }
    .vertical-bottom-m { vertical-align: bottom; }
    .vertical-middle-m { vertical-align: middle; }
    // .vertical-baseline-m { vertical-align: baseline; }
}
@include md-lg {
    .text-left-ml { text-align: left; }
    .text-right-ml { text-align: right; }
    .text-center-ml { text-align: center; }
    // .text-justify-ml { text-align: justify; }
    // .justify-line-ml { @include justify-line; }
    .vertical-top-ml { vertical-align: top; }
    .vertical-bottom-ml { vertical-align: bottom; }
    .vertical-middle-ml { vertical-align: middle; }
    // .vertical-baseline-ml { vertical-align: baseline; }
}
@include lg {
    .text-left-l { text-align: left; }
    .text-right-l { text-align: right; }
    .text-center-l { text-align: center; }
    // .text-justify-l { text-align: justify; }
    // .justify-line-l { @include justify-line; }
    .vertical-top-l { vertical-align: top; }
    .vertical-bottom-l { vertical-align: bottom; }
    .vertical-middle-l { vertical-align: middle; }
    // .vertical-baseline-l { vertical-align: baseline; }
}

} // endif
