@charset "UTF-8";

@if $export_alignment {

/*
Float
*/

.#{$ns}left { float: left !important; }
.#{$ns}right { float: right !important; }
.#{$ns}center { float: none; margin-left: auto; margin-right: auto !important; }

@include md {
    .#{$ns}left-m { float: left !important; }
    .#{$ns}right-m { float: right !important; }
    .#{$ns}center-m { float: none; margin-left: auto; margin-right: auto !important; }
}
@include md-lg {
    .#{$ns}left-ml { float: left !important; }
    .#{$ns}right-ml { float: right !important; }
    .#{$ns}center-ml { float: none; margin-left: auto; margin-right: auto !important; }
}
@include lg {
    .#{$ns}left-l { float: left !important; }
    .#{$ns}right-l { float: right !important; }
    .#{$ns}center-l { float: none; margin-left: auto; margin-right: auto !important; }
}

/**
 * Clear
 */

// .clear-both { clear: both; }

/**
 * Text Align
 */

.#{$ns}text-left { text-align: left !important; }
.#{$ns}text-right { text-align: right !important; }
.#{$ns}text-center { text-align: center !important; }
// .#{$ns}text-justify { text-align: justify; }
// .#{$ns}justify-line { @include justify-line; }
.#{$ns}vertical-top { vertical-align: top !important; }
.#{$ns}vertical-bottom { vertical-align: bottom !important; }
.#{$ns}vertical-middle { vertical-align: middle !important; }
// .#{$ns}vertical-baseline { vertical-align: baseline; }

@include md {
    .#{$ns}text-left-m { text-align: left !important; }
    .#{$ns}text-right-m { text-align: right !important; }
    .#{$ns}text-center-m { text-align: center !important; }
    // .#{$ns}text-justify-m { text-align: justify; }
    // .#{$ns}justify-line-m { @include justify-line; }
    .#{$ns}vertical-top-m { vertical-align: top !important; }
    .#{$ns}vertical-bottom-m { vertical-align: bottom !important; }
    .#{$ns}vertical-middle-m { vertical-align: middle !important; }
    // .#{$ns}vertical-baseline-m { vertical-align: baseline; }
}
@include md-lg {
    .#{$ns}text-left-ml { text-align: left !important; }
    .#{$ns}text-right-ml { text-align: right !important; }
    .#{$ns}text-center-ml { text-align: center !important; }
    // .#{$ns}text-justify-ml { text-align: justify; }
    // .#{$ns}justify-line-ml { @include justify-line; }
    .#{$ns}vertical-top-ml { vertical-align: top !important; }
    .#{$ns}vertical-bottom-ml { vertical-align: bottom !important; }
    .#{$ns}vertical-middle-ml { vertical-align: middle !important; }
    // .#{$ns}vertical-baseline-ml { vertical-align: baseline; }
}
@include lg {
    .#{$ns}text-left-l { text-align: left !important; }
    .#{$ns}text-right-l { text-align: right !important; }
    .#{$ns}text-center-l { text-align: center !important; }
    // .#{$ns}text-justify-l { text-align: justify; }
    // .#{$ns}justify-line-l { @include justify-line; }
    .#{$ns}vertical-top-l { vertical-align: top !important; }
    .#{$ns}vertical-bottom-l { vertical-align: bottom !important; }
    .#{$ns}vertical-middle-l { vertical-align: middle !important; }
    // .#{$ns}vertical-baseline-l { vertical-align: baseline; }
}

} // endif
