@charset "UTF-8";

@if $export_display {

/*
Overflow
*/

.#{$ns}overflow-hidden {
    overflow: hidden !important;
}

/*
Display
*/

.#{$ns}hidden { display: none !important; }
.#{$ns}block { display: block !important; }
.#{$ns}inline { display: inline !important; }
.#{$ns}inline-block { display: inline-block !important; }

@include md {
    .#{$ns}hidden-m { display: none !important; }
    .#{$ns}block-m { display: block !important; }
    .#{$ns}inline-m { display: inline !important; }
    .#{$ns}inline-block-m { display: inline-block !important; }
}
@include md-lg {
    .#{$ns}hidden-ml { display: none !important; }
    .#{$ns}block-ml { display: block !important; }
    .#{$ns}inline-ml { display: inline !important; }
    .#{$ns}inline-block-ml { display: inline-block !important; }
}
@include lg {
    .#{$ns}hidden-l { display: none !important; }
    .#{$ns}block-l { display: block !important; }
    .#{$ns}inline-l { display: inline !important; }
    .#{$ns}inline-block-l { display: inline-block !important; }
}

/*
Retina
*/

// .#{$ns}not-retina {
//     display: inherit;
//     @include retina {
//         display: none;
//     }
// }
// .#{$ns}for-retina {
//     display: none;
//     @include retina {
//         display: inherit;
//     }
// }

} // endif
