@charset "UTF-8";

@if $export_height {

/*
Height
*/

.#{$ns}h100 { height: 100px !important; }
.#{$ns}h200 { height: 200px !important; }
.#{$ns}h300 { height: 300px !important; }
.#{$ns}h400 { height: 400px !important; }

/*
Vertical Rythem Height
*/

.#{$ns}vrh1, .#{$ns}vrh { height: $vr !important; }
.#{$ns}vrh2 { height: $vr * 2 !important; }
.#{$ns}vrh3 { height: $vr * 3 !important; }
.#{$ns}vrh4 { height: $vr * 4 !important; }

/*
Viewport Height
*/

.#{$ns}vh33 { min-height: 33vh !important; }
.#{$ns}vh50 { min-height: 50vh !important; }
.#{$ns}vh100 { min-height: 100vh !important; }

} // endif
