@charset "UTF-8";

@if $export_position {

/*
Positioning
*/

.#{$ns}relative, .#{$ns}rel {
    position: relative !important;
}

.#{$ns}absolute, .#{$ns}abs {
    position: absolute !important;
}

// .#{$ns}central,
// .#{$ns}centered,
// .#{$ns}center-absolute {
//     @include center-absolute;
// }

.#{$ns}top-0 { top: 0 !important; }
.#{$ns}right-0 { right: 0 !important; }
.#{$ns}bottom-0 { bottom: 0 !important; }
.#{$ns}left-0 { left: 0 !important; }

} // endif
