@charset "UTF-8";

@if $export_position {

/*
Positioning
*/

.relative, .rel {
    position: relative !important;
}

.absolute, .abs {
    position: absolute !important;
}

// .central,
// .centered,
// .center-absolute {
//     @include center-absolute;
// }

.top-0 { top: 0 !important; }
.right-0 { right: 0 !important; }
.bottom-0 { bottom: 0 !important; }
.left-0 { left: 0 !important; }

} // endif
