@charset "UTF-8";

@if $export_position {

/*
Positioning
*/

.rel, .relative {
    position: relative !important;
}

.abs, .absolute {
    position: absolute !important;
}

// .central,
// .centered,
// .center-absolute {
//     @include center-absolute;
// }

.top0 { top: 0 !important; }
.right0 { right: 0 !important; }
.bottom0 { bottom: 0 !important; }
.left0 { left: 0 !important; }

} // endif
