@charset "UTF-8";

@if $export_typography {

/*
Font variations
*/

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.italic { font-style: italic; }

/*
Font weight
*/

.light { font-weight: $light; }
.bold { font-weight: $bold; }
.medium { font-weight: $medium; }

/*
Quotation marks
*/

.quotes {
    quotes: "“" "”";
    &::before { content: open-quote; }
    &::after { content: close-quote; }
}

} // endif
