@charset "UTF-8";

@if $export_typography {

/*
Font variations
*/

.uppercase { text-transform: uppercase !important; }
.lowercase { text-transform: lowercase !important; }
.italic { font-style: italic !important; }

/*
Font weight
*/

.light { font-weight: $light !important; }
.bold { font-weight: $bold !important; }
.medium { font-weight: $medium !important; }

/*
Quotation marks
*/

.quotes {
    quotes: "“" "”" !important;
    &::before { content: open-quote !important; }
    &::after { content: close-quote !important; }
}

} // endif
