@charset "UTF-8";

@if $export_width {

/*
Grid Max. Width
*/

.max-width {
    max-width: $grid_max_width;
}

/*
Width (Column Based)
*/

@for $i from 1 through $grid_columns_count {
    .c#{$i}{ width: (100% / $grid_columns_count) * $i; }
}

@include md {
    @for $i from 1 through $grid_columns_count {
        .c#{$i}-m { width: (100% / $grid_columns_count) * $i; }
    }
}

@include md-lg {
    @for $i from 1 through $grid_columns_count {
        .c#{$i}-ml { width: (100% / $grid_columns_count) * $i; }
    }
}

@include lg {
    @for $i from 1 through $grid_columns_count {
        .c#{$i}-l { width: (100% / $grid_columns_count) * $i; }
    }
}


/////////////////////////////////////
// Width (Percentage Based)
/////////////////////////////////////

.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w33 { width: 33.333333%; }
.w50 { width: 50%; }
.w66 { width: 66.666666%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }

.wauto, .wa { width: auto; }

@include md {
    .w10-m { width: 10%; }
    .w20-m { width: 20%; }
    .w25-m { width: 25%; }
    .w33-m { width: 33.333333%; }
    .w50-m { width: 50%; }
    .w66-m { width: 66.666666%; }
    .w75-m { width: 75%; }
    .w80-m { width: 80%; }
    .w90-m { width: 90%; }
    .w100-m { width: 100%; }

    .wauto-m, .wa-m { width: auto; }
}
@include md-lg {
    .w10-ml { width: 10%; }
    .w20-ml { width: 20%; }
    .w25-ml { width: 25%; }
    .w33-ml { width: 33.333333%; }
    .w50-ml { width: 50%; }
    .w66-ml { width: 66.666666%; }
    .w75-ml { width: 75%; }
    .w80-ml { width: 80%; }
    .w90-ml { width: 90%; }
    .w100-ml { width: 100%; }

    .wauto-ml, .wa-ml { width: auto; }
}
@include lg {
    .w10-l { width: 10%; }
    .w20-l { width: 20%; }
    .w25-l { width: 25%; }
    .w33-l { width: 33.333333%; }
    .w50-l { width: 50%; }
    .w66-l { width: 66.666666%; }
    .w75-l { width: 75%; }
    .w80-l { width: 80%; }
    .w90-l { width: 90%; }
    .w100-l { width: 100%; }

    .wauto-l, .wa-l { width: auto; }
}

} // endif
