@charset "UTF-8";

@if $export_width {

/*
Grid Max. Width
*/

.#{$ns}max-width {
    max-width: $grid_max_width !important;
}

/*
Width (Column Based)
*/

@for $i from 1 through $grid_columns_count {
    .#{$ns}c#{$i}{ width: (100% / $grid_columns_count) * $i !important; }
}

@include md {
    @for $i from 1 through $grid_columns_count {
        .#{$ns}c#{$i}-m { width: (100% / $grid_columns_count) * $i !important; }
    }
}

@include md-lg {
    @for $i from 1 through $grid_columns_count {
        .#{$ns}c#{$i}-ml { width: (100% / $grid_columns_count) * $i !important; }
    }
}

@include lg {
    @for $i from 1 through $grid_columns_count {
        .#{$ns}c#{$i}-l { width: (100% / $grid_columns_count) * $i !important; }
    }
}


/////////////////////////////////////
// Width (Percentage Based)
/////////////////////////////////////

.#{$ns}w10 { width: 10% !important; }
.#{$ns}w20 { width: 20% !important; }
.#{$ns}w25 { width: 25% !important; }
.#{$ns}w33 { width: 33.333333% !important; }
.#{$ns}w40 { width: 40% !important; }
.#{$ns}w50 { width: 50% !important; }
.#{$ns}w60 { width: 60% !important; }
.#{$ns}w66 { width: 66.666666% !important; }
.#{$ns}w75 { width: 75% !important; }
.#{$ns}w80 { width: 80% !important; }
.#{$ns}w90 { width: 90% !important; }
.#{$ns}w100 { width: 100% !important; }

.#{$ns}wauto, .#{$ns}wa { width: auto !important; }

@include md {
    .#{$ns}w10-m { width: 10% !important; }
    .#{$ns}w20-m { width: 20% !important; }
    .#{$ns}w25-m { width: 25% !important; }
    .#{$ns}w33-m { width: 33.333333% !important; }
    .#{$ns}w40-m { width: 40% !important; }
    .#{$ns}w50-m { width: 50% !important; }
    .#{$ns}w60-m { width: 60% !important; }
    .#{$ns}w66-m { width: 66.666666% !important; }
    .#{$ns}w75-m { width: 75% !important; }
    .#{$ns}w80-m { width: 80% !important; }
    .#{$ns}w90-m { width: 90% !important; }
    .#{$ns}w100-m { width: 100% !important; }

    .#{$ns}wauto-m, .#{$ns}wa-m { width: auto !important; }
}
@include md-lg {
    .#{$ns}w10-ml { width: 10% !important; }
    .#{$ns}w20-ml { width: 20% !important; }
    .#{$ns}w25-ml { width: 25% !important; }
    .#{$ns}w33-ml { width: 33.333333% !important; }
    .#{$ns}w40-ml { width: 40% !important; }
    .#{$ns}w50-ml { width: 50% !important; }
    .#{$ns}w60-ml { width: 60% !important; }
    .#{$ns}w66-ml { width: 66.666666% !important; }
    .#{$ns}w75-ml { width: 75% !important; }
    .#{$ns}w80-ml { width: 80% !important; }
    .#{$ns}w90-ml { width: 90% !important; }
    .#{$ns}w100-ml { width: 100% !important; }

    .#{$ns}wauto-ml, .#{$ns}wa-ml { width: auto !important; }
}
@include lg {
    .#{$ns}w10-l { width: 10% !important; }
    .#{$ns}w20-l { width: 20% !important; }
    .#{$ns}w25-l { width: 25% !important; }
    .#{$ns}w33-l { width: 33.333333% !important; }
    .#{$ns}w40-l { width: 40% !important; }
    .#{$ns}w50-l { width: 50% !important; }
    .#{$ns}w60-l { width: 60% !important; }
    .#{$ns}w66-l { width: 66.666666% !important; }
    .#{$ns}w75-l { width: 75% !important; }
    .#{$ns}w80-l { width: 80% !important; }
    .#{$ns}w90-l { width: 90% !important; }
    .#{$ns}w100-l { width: 100% !important; }

    .#{$ns}wauto-l, .#{$ns}wa-l { width: auto !important; }
}

} // endif
