
/*
Grid

This grid system was inspired by: http://hiloki.github.io/kitecss/

<div class="grid">
    <div class="grid__item"> </div>
    <div class="grid__item"> </div>
    <div class="grid__item grid__item--flush">

        <div class="grid">
            <div class="grid__item"> </div>
            <div class="grid__item"> </div>
            <div class="grid__item"> </div>
        </div>

    </div>
</div>
*/

%grid {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    display: table;
    font-size: 0 !important;
    letter-spacing: 0 !important;
    vertical-align: top;
    width: 100%;
    max-width: $grid_max_width;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

// Grid Full Width

%grid--full {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}

// Grid Horizontal Alignment

%grid--center {
    text-align: center;
}

%grid--justify {
    display: block;
    text-align: justify;
    text-justify: distribute-all-lines;
}

// Grid Vertical Alignment

%grid--top > %grid__item {
    vertical-align: top;
}

%grid--middle > %grid__item {
    vertical-align: middle;
}

%grid--bottom > %grid__item {
    vertical-align: bottom;
}

// Grid Fill Mode

%grid--fill > %grid__item {
    display: table-cell;
}

%grid--fill-equal {
    table-layout: fixed;
}

// Grid Padding

%grid--narrow > %grid__item { padding: $grid_item_padding_narrow; }

%grid--flush > %grid__item { padding: 0; }
%grid--flush %grid { margin-left: 0; margin-right: 0; }

// Grid Items

%grid__item {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    display: inline-block;
    vertical-align: top;
    font-size: medium; // lte ie8 rem fallback
    font-size: $font_size_text;
    letter-spacing: $letter_spacing_text;
    padding: $grid_item_padding;
    margin: 0;
}

// Grid Item Padding

%grid > %grid__item--narrow { padding: $grid_item_padding_narrow; }

%grid > %grid__item--flush { padding: 0; }
%grid__item--flush > %grid { margin-left: 0; margin-right: 0; }


@include md {
    %grid > %grid__item--narrow-md { padding: $grid_item_padding_narrow; }

    %grid > %grid__item--flush-md { padding: 0; }
    %grid__item--flush-md > %grid { margin-left: 0; margin-right: 0; }
}

@include md-lg {
    %grid > %grid__item--narrow-md-lg { padding: $grid_item_padding_narrow; }

    %grid > %grid__item--flush-md-lg { padding: 0; }
    %grid__item--flush-md-lg > %grid { margin-left: 0; margin-right: 0; }
}

@include lg {
    %grid > %grid__item--narrow-lg { padding: $grid_item_padding_narrow; }

    %grid > %grid__item--flush-lg { padding: 0; }
    %grid__item--flush-lg > %grid { margin-left: 0; margin-right: 0; }
}

@if $css_componentes_grid {

    // grid

    .grid { @extend %grid; }

    .grid--full { @extend %grid--full; }

    .grid--center { @extend %grid--center; }

    .grid--justify { @extend %grid--justify; }

    .grid--top { @extend %grid--top; }
    .grid--middle { @extend %grid--middle; }
    .grid--bottom { @extend %grid--bottom; }

    .grid--fill { @extend %grid--fill; }
    .grid--fill-equal { @extend %grid--fill-equal; }

    // grid__item

    .grid__item { @extend %grid__item; }

    .grid__item--narrow { @extend %grid__item--narrow; }
    .grid__item--flush { @extend %grid__item--flush; }

    .grid__item--narrow-md { @extend %grid__item--narrow-md; }
    .grid__item--flush-md { @extend %grid__item--flush-md; }

    .grid__item--narrow-md-lg { @extend %grid__item--narrow-md-lg; }
    .grid__item--flush-md-lg { @extend %grid__item--flush-md-lg; }

    .grid__item--narrow-lg { @extend %grid__item--narrow-lg; }
    .grid__item--flush-lg { @extend %grid__item--flush-lg; }

} // endif
