
/*
Grid

<div class="grid">
    <div class="grid__item"> </div>
    <div class="grid__item"> </div>
    <div class="grid__item"> </div>
</div>
*/

%grid {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    display: table;
    font-size: 0 !important;
    letter-spacing: 0 !important;
    vertical-align: top;
    max-width: $grid_max_width;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

%grid--full-width {
    max-width: none;
}

%grid--center-items {
    text-align: center;
}

%grid--nested {
    margin-left: -$grid_item_padding;
    margin-right: -$grid_item_padding;
}
%grid--nested-narrow {
    margin-left: -$grid_item_padding_narrow;
    margin-right: -$grid_item_padding_narrow;
}

@include md {
    %grid--nested-md {
        margin-left: -$grid_item_padding;
        margin-right: -$grid_item_padding;
    }
    %grid--nested-narrow-md {
        margin-left: -$grid_item_padding_narrow;
        margin-right: -$grid_item_padding_narrow;
    }
}

@include md-lg {
    %grid--nested-md-lg {
        margin-left: -$grid_item_padding;
        margin-right: -$grid_item_padding;
    }
    %grid--nested-narrow-md-lg {
        margin-left: -$grid_item_padding_narrow;
        margin-right: -$grid_item_padding_narrow;
    }
}

@include lg {
    %grid--nested-lg {
        margin-left: -$grid_item_padding;
        margin-right: -$grid_item_padding;
    }
    %grid--nested-narrow-lg {
        margin-left: -$grid_item_padding_narrow;
        margin-right: -$grid_item_padding_narrow;
    }
}

%grid__item {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    display: inline-block;
    vertical-align: top;
    font-size: $font_size_text;
    letter-spacing: $letter_spacing_text;
    padding: $grid_item_padding;
    margin: 0;
    width: 100%;
}

%grid__item--top { vertical-align: top; }
%grid__item--middle { vertical-align: middle; }
%grid__item--bottom { vertical-align: bottom; }

%grid__item--narrow { padding: $grid_item_padding_narrow; }
%grid__item--flush { padding: 0; }
%grid__item--flush-x { padding-left: 0; padding-right: 0; }
%grid__item--flush-y { padding-top: 0; padding-bottom: 0; }

@include md {
    %grid__item--narrow-md { padding: $grid_item_padding_narrow; }
    %grid__item--flush-md { padding: 0; }
    %grid__item--flush-x-md { padding-left: 0; padding-right: 0; }
    %grid__item--flush-y-md { padding-top: 0; padding-bottom: 0; }
}

@include md-lg {
    %grid__item--narrow-md-lg { padding: $grid_item_padding_narrow; }
    %grid__item--flush-md-lg { padding: 0; }
    %grid__item--flush-x-md-lg { padding-left: 0; padding-right: 0; }
    %grid__item--flush-y-md-lg { padding-top: 0; padding-bottom: 0; }
}

@include lg {
    %grid__item--narrow-lg { padding: $grid_item_padding_narrow; }
    %grid__item--flush-lg { padding: 0; }
    %grid__item--flush-x-lg { padding-left: 0; padding-right: 0; }
    %grid__item--flush-y-lg { padding-top: 0; padding-bottom: 0; }
}

@if $css_componentes_grid {

    // grid

    .grid { @extend %grid; }

    .grid--full-width { @extend %grid--full-width; }

    .grid--center-items { @extend %grid--center-items; }

    .grid--nested { @extend %grid--nested; }
    .grid--nested-narrow { @extend %grid--nested-narrow; }

    .grid--nested-md { @extend %grid--nested-md; }
    .grid--nested-narrow-md { @extend %grid--nested-narrow-md; }

    .grid--nested-md-lg { @extend %grid--nested-md-lg; }
    .grid--nested-narrow-md-lg { @extend %grid--nested-narrow-md-lg; }

    .grid--nested-lg { @extend %grid--nested-lg; }
    .grid--nested-narrow-lg { @extend %grid--nested-narrow-lg; }

    // grid__item

    .grid__item { @extend %grid__item; }

    .grid__item--top { @extend %grid__item--top; }
    .grid__item--middle { @extend %grid__item--middle; }
    .grid__item--bottom { @extend %grid__item--bottom; }

    .grid__item--narrow { @extend %grid__item--narrow; }
    .grid__item--flush { @extend %grid__item--flush; }
    .grid__item--flush-x { @extend %grid__item--flush-x; }
    .grid__item--flush-y { @extend %grid__item--flush-y; }

    .grid__item--narrow-md { @extend %grid__item--narrow-md; }
    .grid__item--flush-md { @extend %grid__item--flush-md; }
    .grid__item--flush-x-md { @extend %grid__item--flush-x-md; }
    .grid__item--flush-y-md { @extend %grid__item--flush-y-md; }

    .grid__item--narrow-md-lg { @extend %grid__item--narrow-md-lg; }
    .grid__item--flush-md-lg { @extend %grid__item--flush-md-lg; }
    .grid__item--flush-x-md-lg { @extend %grid__item--flush-x-md-lg; }
    .grid__item--flush-y-md-lg { @extend %grid__item--flush-y-md-lg; }

    .grid__item--narrow-lg { @extend %grid__item--narrow-lg; }
    .grid__item--flush-lg { @extend %grid__item--flush-lg; }
    .grid__item--flush-x-lg { @extend %grid__item--flush-x-lg; }
    .grid__item--flush-y-lg { @extend %grid__item--flush-y-lg; }

} // endif
