@charset "UTF-8";

/*
Group

Displays a horizontal group of inline-block elements without any spacing in between. Take a look at
the examples below:

Button group:

<nav class="group">
    <a class="group__item button" href="#">Button</a>
    <a class="group__item button" href="#">Button</a>
</nav>

Input group:

<form>
    <div class="group">
        <span class="group__item">$</span>
        <input type="text" class="group__item">
        <a class="button group__item" href="#">Convert</a>
    </div>
</form>
*/

%group {
    display: table;
    font-size: 0 !important;
    letter-spacing: 0 !important;
}

%group__item {
    display: inline-block;
    font-size: $font_size_text;
    letter-spacing: $letter_spacing_text;
}

// Form group__items need some adjustments.
form %group__item {
    display: inline-block;
    font-size: $font_size_input;
    letter-spacing: $letter_spacing_input;
    font-family: $font_family_input;
    font-weight: $font_weight_input;
    padding-top: $padding_input_top;
    padding-right: $padding_input_right;
    padding-bottom: $padding_input_bottom;
    padding-left: $padding_input_left;
    vertical-align: top;
    border: 0;
}

@if $css_components_group {

    .group {
        @extend %group;
    }

    .group__item {
        @extend %group__item;
    }

} // endif
