@charset "UTF-8";

///
// Word Wrap
// Using the "break-word" default argument will force words to break into the 2nd line.
///

// normal | break-word
@mixin word-wrap( $wrap:break-word ) {

    @if $wrap == break-word {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
    } @else {
        word-wrap: normal;
        overflow-wrap: normal;
        word-break: normal;
    }

}

// alias
@mixin break-words {
    @include word-wrap;
}
