@charset "UTF-8";

/*
Badge

<span class="badge"> </span>
*/

%badge {
    display: inline-block;
    min-width: .625rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding-top: $padding_badge_top;
    padding-right: $padding_badge_right;
    padding-bottom: $padding_badge_bottom;
    padding-left: $padding_badge_left;
    transition: $transition_badge;
    border-width: $border_width_badge;
    border-color: $color_badge_border;
    border-radius: $border_radius_badge;
    border-style: solid;
    color: $color_badge;
    background-color: $color_badge_bg;
    text-decoration: none;
    &:hover {
        color: $color_badge_hover;
        border-color: $color_badge_border_hover;
        background-color: $color_badge_bg_hover;
        text-decoration: none;
    }
}

%badge--round {
    border-radius: 50%;
}

%badge--sharp {
    border-radius: 0;
}

%badge--clear {
    &, &:hover {
        color: inherit;
        border-color: transparent;
        background-color: transparent;
    }
}

@if $export_component_badge {

    .badge {
        @extend %badge;
    }

    .badge--round {
        @extend %badge--round;
    }

    .badge--sharp {
        @extend %badge--sharp;
    }

    .badge--clear {
        @extend %badge--clear;
    }

} // endif
