@charset "UTF-8";

///
// Burger
//
// jQuery(document).ready(function($) {
//     $('.burger').click(function(e) {
//         e.preventDefault();
//         $(this).toggleClass('active');
//     });
// });
//
// .burger {
//     @include burger;
//     .burger-item {
//         @include burger-item;
//     }
//     &:hover {
//         .burger-item {
//             background-color: $accent;
//         }
//     }
//     @include burger-to-cross;
//     &.burger--active {
//         @include burger-to-cross--active;
//         .burger-item {
//             background-color: $accent;
//         }
//     }
// }
//
// <a class="burger" href="#">
//     <span class="burger-item burger-item--top"></span>
//     <span class="burger-item burger-item--middle"></span>
//     <span class="burger-item burger-item--bottom"></span>
// </a>
///

@mixin burger( $layer_height:3px, $layer_spacing:4px, $layer_width:25px ) {

    // make burger vars globally available
    $_burger_layer_height:  $layer_height  !global;
    $_burger_layer_spacing: $layer_spacing !global;
    $_burger_layer_width:   $layer_width   !global;

    position: relative;
    display: inline-block;
    height: ($layer_height * 3) + ($layer_spacing * 2);
    width: $layer_width;

}

@mixin burger-item {

    position: absolute;
    display: block;
    width: $_burger_layer_width;
    height: $_burger_layer_height;
    background-color: black;

    top: $_burger_layer_height + $_burger_layer_spacing;

    &:first-child {
        top: 0;
    }

    &:last-child {
        top: ($_burger_layer_height + $_burger_layer_spacing) * 2;
    }

}

@mixin burger-to-cross( $speed:.193s, $delay:$speed, $timing:ease-in ) {
    * {
        @include transition-timing-function( $timing );
        & {
            @include transform( rotate(0deg) );
            @include transition( transform $speed );
        }
        &:first-child {
            @include transition( top $speed $delay, opacity $speed );
        }
        &:last-child {
            @include transition( top $speed $delay, transform $speed );
        }
    }
}

@mixin burger-to-cross--active( $speed:.193s, $delay:$speed, $timing:ease-out ) {
    * {
        @include transition-timing-function( $timing );
        & {
            @include transform( rotate(45deg) );
            @include transition( transform $speed $delay );
        }
        &:first-child {
            top: $_burger_layer_height + $_burger_layer_spacing;
            @include transition( top $speed, transform $speed $delay );
        }
        &:last-child {
            top: $_burger_layer_height + $_burger_layer_spacing;
            @include transform( rotate(-45deg) );
            @include transition( top $speed, transform $speed $delay );
        }
    }
}
