@charset "UTF-8";

///
// Dash
//
// @param  {position}  Possible values are: top / bottom -&- left / right / center.
//
// .dash {
//     @include dash(
//         color : #faa,
//         width : 80px,
//     );
// }
//
// <h1 class="dash"> </h1>
///

@mixin dash( $args:() ) {

    $args: map-merge( (
        position : bottom left,
        height   : 4px,
        width    : 20%,
        color    : #000,
        gap      : 10px,
    ), $args );

    $position: map-get( $args, position );
    $height: map-get( $args, height );
    $width: map-get( $args, width );
    $color: map-get( $args, color );
    $gap: map-get( $args, gap );

    position: relative;

    @if index( $position, 'top' ) {
        padding-top: $gap;
    } @else {
        padding-bottom: $gap;
    }

    &:after {

        content: '';
        position: absolute;
        width: $width;
        border-top: $height solid $color;

        @if index( $position, 'top' ) {
            top: -$gap;
        } @else {
            bottom: -$gap;
        }

        @if index( $position, 'right' ) {
            right: 0;
        } @else {
            left: 0;
        }

        @if index( $position, 'center' ) {
            left: 50%;
            @include transform( translateX(-50%) );
        }
    }
}
