@charset "UTF-8";

///
// Flyout
//
// .flyout {
//     @include flyout( ':hover', '.flyout-item', 'down-right' );
// }
//
// <div class=flyout>
//     <strong>Flyout</strong>
//     <div class=flyout-item> </div>
// </div>
//
// You can changed the $event_selector to a class name (e.g. flyout--visible) and add some jQuery to
// trigger the flyout on click for example.
//
// jQuery(document).ready(function($) {
//     $('.flyout').click( function(e) {
//         e.preventDefault;
//         $(this).toggleClass('flyout--visible');
//     });
// });
///

@mixin flyout( $event_selector:':hover', $target_selector:'.flyout-item', $direction:'down-right' ) {

    display: inline-block;
    position: relative;
    // required but messes up inline-block flyout
    overflow: hidden;
    // fixes inline-block flyout issue
    vertical-align: bottom;

    &#{$event_selector} { overflow: visible; }

    #{$target_selector} {
        white-space: normal;
        position: absolute;
        left: -99999px;
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 0;
        z-index: 999999;
    }

    @if "up" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: auto;
            right: -50%;
            bottom: 100%;
            left: -50%;
        }

    } @elseif "up-left" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: auto;
            right: 0;
            bottom: 100%;
            left: auto;
        }

    } @elseif "up-right" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: auto;
            right: auto;
            bottom: 100%;
            left: 0;
        }

    } @elseif "right" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 50%;
            right: auto;
            bottom: auto;
            left: 100%;
            @include vendor( transform, translateY(-50%) );
        }

    } @elseif "right-up" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: auto;
            right: auto;
            bottom: 0;
            left: 100%;
        }

    } @elseif "right-down" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 0;
            right: auto;
            bottom: auto;
            left: 100%;
        }

    } @elseif "down" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 100%;
            right: -50%;
            bottom: auto;
            left: -50%;
        }

    } @elseif "down-left" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 100%;
            right: 0;
            bottom: auto;
            left: auto;
        }

    } @elseif "down-right" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 100%;
            right: auto;
            bottom: auto;
            left: 0;
        }

    } @elseif "left" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 50%;
            right: 100%;
            bottom: auto;
            left: auto;
            @include vendor( transform, translateY(-50%) );
        }

    } @elseif "left-up" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: auto;
            right: 100%;
            bottom: 0;
            left: auto;
        }

    } @elseif "left-down" == $direction {

        &#{$event_selector} > #{$target_selector} {
            top: 0;
            right: 100%;
            bottom: auto;
            left: auto;
        }

    } // endif

}
