@charset "UTF-8";

/*
Scrollable

.scrollable {
    @include scrollable;
}

<nav class="scrollbar">
    <a class="button" href=#> </a>
    <a class="button" href=#> </a>
    <a class="button" href=#> </a>
</nav>
*/

@mixin scrollable( $height:0px ) {

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }

    @if strip-unit($height) > 0 {
        // scroll vertical
        overflow-y: scroll;
        overflow-x: hidden;
        height: $height;
        width: 100%;
    } @else {
        // scroll horizontal
        overflow-y: hidden;
        overflow-x: auto;
    }
}
