@charset "UTF-8";

///
// Triangle Mixin
//
// .triangle {
//     @include triangle;
// }
//
// or:
//
// .triangle::before {
//     @include triangle;
//     content: '';
//     position: absolute;
//     left: 1rem;
//     top: -1rem;
// }
//
// <span class=triangle></span>
///

@mixin triangle( $color:currentColor, $rotation:0deg, $size:1rem, $thickness:0px ) {

    $_triangle_thickness: $thickness !global;

    position: relative;
    display: inline-block;
    height: $size;
    width: $size;
    pointer-events: none;

    @if strip-unit($thickness) > 0 {

        border: $thickness solid $color;
        border-bottom: 0;
        border-left: 0;

    } @else {

        border: $size solid transparent;
        border-top-color: $color;

    }

    @include transform( rotate($rotation) );
}

@mixin triangle-color( $color ) {
    @if strip-unit($_triangle_thickness) > 0 {
        border-color: $color;
    } @else {
        border-top-color: $color;
    }
}
