@charset "UTF-8";

/////////////////////////////////////
// Border Width
/////////////////////////////////////

$border_width_input: 1px !default;
$border_width_button: 1px !default;


/////////////////////////////////////
// Border Radius
/////////////////////////////////////

// Abstracts

$br: 3px;

// Elements

$border_radius_input: $br !default;
$border_radius_button: $br !default;
