
/////////////////////////////////////
// Brand Colors
/////////////////////////////////////

// These are NOT used anywhere and are just here for reference.

$wordpress: #21759b !default;
$codepen: #000000 !default;
$dribbble: #ea4c89 !default;
$flickr: #ff0084 !default;
$github: #171515 !default;
$pinterest: #c8232c !default;
$stack_overflow: #fe7a15 !default;
$twitter: #33ccff !default;
$youtube: #c4302b !default;
$instagram: #3f729b !default;
$facebook: #3b5998 !default;
$skype: #02b0f6 !default;
$tumblr: #34526f !default;
$vimeo: #1ab7ea !default;
$xing: #026466 !default;
$google_plus: #dd4b39 !default;
$linkedin: #0e76a8 !default;
$yelp: #c41200 !default;
