@charset "UTF-8";

/////////////////////////////////////
// Colors
/////////////////////////////////////

// Abstracts

$accent: #1f8bfc !default;
$accent_alt: #1f8bfc !default;

$gray: #dadada !default;

$text_primary: #202020 !default;
$text_muted: #727272 !default;
$text_inverted: rgba(255,255,255,1) !default;

// Elements

$color_main_bg: #fff !default;

$color_text:            $text_primary !default;
$color_text_link:       $accent !default;
$color_text_link_hover: $accent_alt !default;

$color_heading:            $text_primary !default;
$color_heading_link:       $text_primary !default;
$color_heading_link_hover: $text_primary !default;

$color_button:              $text_inverted !default;
$color_button_hover:        $text_inverted !default;
$color_button_bg:           $accent !default;
$color_button_bg_hover:     $accent_alt !default;
$color_button_border:       transparent !default;
$color_button_border_hover: transparent !default;

$color_input_label:        $text_primary !default;
$color_input:              $text_primary !default;
$color_input_hover:        $text_primary !default;
$color_input_focus:        $text_primary !default;
$color_input_bg:           #fff !default;
$color_input_bg_hover:     #fff !default;
$color_input_bg_focus:     #fff !default;
$color_input_border:       $gray !default;
$color_input_border_hover: $gray !default;
$color_input_border_focus: $gray !default;
$color_input_placeholder:  $text_muted !default;

$color_table_head:   $text_primary !default;
$color_table_cell:   $text_primary !default;
