@charset "UTF-8";

/////////////////////////////////////
// Vendors
/////////////////////////////////////

$css_vendors_print: true !default;
$css_vendors_normalize: true !default;


/////////////////////////////////////
// Base
/////////////////////////////////////

$css_base_code: true !default;
$css_base_document: true !default;
$css_base_form: true !default;
$css_base_reset: true !default;
$css_base_table: true !default;


/////////////////////////////////////
// Objects
/////////////////////////////////////

$css_objects_center: false !default;
$css_objects_clearfix: false !default;
$css_objects_embed: false !default;
$css_objects_grid: false !default;
$css_objects_group: false !default;
$css_objects_reader: false !default;
$css_objects_scrollbar: false !default;


/////////////////////////////////////
// Components
/////////////////////////////////////

$css_components_heading: true !default;
$css_components_lead: true !default;
$css_components_link: true !default;
$css_components_small: true !default;
$css_components_badge: true !default;
$css_components_button: true !default;


/////////////////////////////////////
// Utilities
/////////////////////////////////////

$css_utilities_alignment: false !default;
$css_utilities_display: false !default;
