@charset "UTF-8";

/////////////////////////////////////
// Grid
/////////////////////////////////////

$website_min_width: 360px !default;

$grid_max_width: 1080px !default;

$grid_columns_count: 12 !default;


/////////////////////////////////////
// Breakpoints
/////////////////////////////////////

$md_begin: 800px !default;

$lg_begin: $grid_max_width !default;
