
/////////////////////////////////////
// Height & Padding
/////////////////////////////////////

$height_input: 4rem !default;

$padding_input_left: .8rem !default;
$padding_input_right: .8rem !default;
$padding_input_top: .4rem !default;
$padding_input_bottom: .4rem !default;

$padding_button_left: 2.5rem !default;
$padding_button_right: 2.5rem !default;
$padding_button_top: .5rem !default;
$padding_button_bottom: .5rem !default;

$padding_badge_left: .6rem !default;
$padding_badge_right: .6rem !default;
$padding_badge_top: .266rem !default;
$padding_badge_bottom: .266rem !default;

$padding_table_cell_left: 1rem !default;
$padding_table_cell_right: 1rem !default;
$padding_table_cell_top: 1rem !default;
$padding_table_cell_bottom: 1rem !default;

$padding_pre_left: 1.6rem !default;
$padding_pre_right: 1.6rem !default;
$padding_pre_top: .8rem !default;
$padding_pre_bottom: .8rem !default;
