
/////////////////////////////////////
// Transitions
/////////////////////////////////////

$transition_link: all .2s ease-in-out !default;
$transition_button: all .2s ease-in-out !default;
$transition_badge: all .2s ease-in-out !default;
$transition_input: all .2s ease-in-out !default;
