@charset "UTF-8";

@if $export_form {

/*
Form
*/

legend,
label, .label {
    display: inline-block;
    letter-spacing: $letter_spacing_input_label;
    font-weight: $font_weight_input_label;
    font-size: $font_size_input_label;
    font-family: $font_family_input_label;
    font-style: $font_style_input_label;
    text-transform: $text_transform_input_label;
    color: $color_input_label;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=time],
[type=week],
[type=file],
[type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url],
textarea,
select {
    // only apply width when cols or size attributes are not given
    &:not([size]):not([cols]) {
        width: 100%;
    }
    font-family: $font_family_input;
    font-weight: $font_weight_input;
    font-size: $font_size_input;
    font-style: $font_style_input;
    padding-top: $padding_input_top;
    padding-right: $padding_input_right;
    padding-bottom: $padding_input_bottom;
    padding-left: $padding_input_left;
    letter-spacing: $letter_spacing_input;
    border-width: $border_width_input;
    border-radius: $border_radius_input;
    border-style: solid;
    box-shadow: none;
    color: $color_input;
    background-color: $color_input_bg;
    border-color: $color_input_border;
    &:hover {
        color: $color_input_hover;
        background-color: $color_input_bg_hover;
        border-color: $color_input_border_hover;
    }
    &:focus {
        color: $color_input_focus;
        background-color: $color_input_bg_focus;
        border-color: $color_input_border_focus;
    }
}

input, textarea {
    display: inline-block;
    @include placeholder { color: $color_input_placeholder; }
}

textarea {
    // only apply min-height if rows attribute is not given
    &:not([rows]) {
        min-height: ($font_size_input * $line_height_ratio_body) * 3;
    }
    resize: vertical;
    overflow: auto;
}

select {
    display: inline-block;
    height: $select_height;
    cursor: pointer;
    @include appearance(menulist);
    -webkit-appearance: menulist-button;
}

button,
[type=button],
[type=submit],
[type=reset] {
    display: inline-block;
    @include appearance(none);
    background-color: transparent;
    cursor: pointer;
}

[type=checkbox],
[type=radio] {
    cursor: pointer;
}

} // endif
