@charset "UTF-8";

@if $export_table {

/*
Table
*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}

caption {
    color: $text_muted;
    margin: $font_size_small 0;
    font-size: $font_size_small;
    text-align: left;
    font-style: italic;
    caption-side: bottom;
}

tr {
    border-bottom: 1px solid $gray;
}

th, td {
    color: $color_table_cell;
    letter-spacing: $letter_spacing_tabel_cell;
    font-style: $font_style_tabel_cell;
    font-weight: $font_weight_tabel_cell;
    font-size: $font_size_tabel_cell;
    padding: $padding_table_cell_top $padding_table_cell_right $padding_table_cell_bottom $padding_table_cell_left;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
    vertical-align: middle;
    text-align: left;
    line-height: inherit;
}

th {
    color: $color_table_head;
    letter-spacing: $letter_spacing_tabel_head;
    font-style: $font_style_tabel_head;
    font-weight: $font_weight_tabel_head;
    font-size: $font_size_tabel_head;
    text-transform: $text_transform_tabel_head;
}

} // endif
